/* changing background color for body and navigation */

body {
    background-color: #020E3A;
    color: white;
}

#bootstrap-overrides .nav-link {
    color: white;
}

#p-over {
    margin-bottom: 0;
    margin-top: 0;
}

header {
    margin-bottom: 100px;
}


/* De navaigatie links spacing geven, een goede font size en ook juist plaatsen op de website */

.a-link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-size: 1.05rem;
}

#nav-links {
    justify-content: space-between;
    width: 25%;
    font-size: 1.05rem;
}