.hide{
    display: none;
}
/* 
===================================== 
        Index design - HOME
===================================== 
*/
html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    --navheight: 63px;
}
body{
    width: inherit;
    height: inherit;
	min-height: 100vh;
	background-color: #303F4F;
	overflow-y: scroll;
}

/* 
===================================== 
	header-main-footer settings 
===================================== 
*/
header{
	width: 100%;
	height: var(--navheight);
}
main{
	width: 90%;
    margin: auto;
	min-height: calc(100% - var(--navheight) - 10%);
    background-color: rgba(255,255,255,0.1);
}
footer{
    background-color: #343a40;
    border-top: 1px solid #ff00ff;
    width: 100%;
    height: 10%;
    padding: 10px 0;
    color: white;
}
footer>div{
    height: 100%;
    text-align: center;
    line-height: 2rem;
}
footer>div>p{
    font-size: 15px;
}

/* nav settings */
#nav-links {
    justify-content: space-between;
    width: 35%;
    font-size: 1.3rem;
}
.navbar{
    z-index: 2;
}

.a-link {
    display: block;
}
.a-link{
    text-decoration: none;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-size: 1.05rem;
    display:inline-block;
}

/* 
===================================== 
	    main settings 
===================================== 
*/
section, article, h2{
    width: 100%;
}

/*    Heading settings */
h2{
    font-size: 4rem;
    font-family: EA-font;
    text-align: center;
    color: whitesmoke;
    opacity: .7;
    z-index: 1;
    animation: slideout 5s ease-out 2s forwards;
}
#apos-span{
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
    font-size: calc(4.5rem + .5rem);
    font-family: 'Courier New', Courier;
    animation: aposSlideout 3s ease-out 2s forwards;
}
@keyframes slideout{
    from{
        font-size: 4rem;
    }
    to{
        font-size: 3rem;
    }
}
@keyframes aposSlideout{
    from{
        font-size: calc(4.5rem + .5rem);
    }
    to{
        font-size: calc(3.5rem + .5rem);
    }
}


/* 
===================================== 
	    info games settings 
===================================== 
*/
.info-games{
    
    margin: auto;
    display: flex;
    flex-direction: column;
}
.infoSection-each-game{
    width: 70%;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    transition: transform .2s;
    border: 1px solid #E5C685;
}
.logo-div{
    width: 30%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
}
.logo-div>img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto ;
    padding: 10px;
}
.game-description.second-element{
    order: -1;
}
.game-description{
    position: relative;
    width: 70%;
}
.game-description p{
    width: 100%;
    text-align: justify;
    padding: 10px;
    font-size: 1rem;
    color: whitesmoke;
}

footer {
    background-color: #343a40;
    border-top: 1px solid #ff00ff;
    width: 100%;
    height: 10%;
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    
}

/* Dropdown Button */

.dropbtn {
    /*background-color: #4CAF50;
    color: white;*/
    padding: 16px;
    font-size: 16px;
    border: none;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}

/* thema pages */

.thema-position{
    display: flex;
    flex-direction: column;
    margin-top: 22.5%;
}

.thema-titel{
    text-align: center;
}

.thema-foto{
    align-self: center;
    max-width: 250px;
    max-height: 250px;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* 
===================================== 
	    Media queries settings 
===================================== 
*/
@media screen and (min-width: 1024px){
    .infoSection-each-game:hover{
        transform: scale(1.2);
    }
    
}
@media screen and (max-width: 770px){
    .infoSection-each-game{
        flex-direction: column;
    }
    .logo-div{
        width: 100%;
    }
    .game-description{
        width: 100%;
    }
    .game-description.second-element{
        order: 0;
    }
    .logo-div>img{
        max-width: 50%;
        max-height: 50%;
    }
}