/* changing background color for body and navigation */

body {
    width: 100%;
    min-height: 100vh;
    color: #ffffff;
    font-family: fifa-font;
    font-size: 1.5rem;
    background-color: #020E3A;
    margin-bottom: 100px;
}

#bootstrap-overrides .nav-link {
    color: white;
}



header {
    margin-bottom: 100px;
}


/* De navaigatie links spacing geven, een goede font size en ook juist plaatsen op de website */

.a-link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    
}



/* Costum changes in the header */

#nav-header {
    color: #ffffff;
    border-bottom: 1px solid #E5C685;
}

#nav-links {
    justify-content: space-between;
    width: 25%;
}

#nav-links .nav-link {
    /* font color of the links */
    color: #ffffff;
}

/* audio controls */
#audio_buttons{
    margin-left: 85%;
    color: lightblue;
}







/* Login en registratie form*/

form
{
    position: absolute;
    display: grid;
    margin-left: 32%;
    margin-right: 35%;
    padding-top: 3.5%;
    border-radius: 8px;
    width: 30%;
    height: 300px;
    color: #020E3A;
	background: rgb(19, 61, 100);
	border: 1px solid #020E3A;
}

input
{
    border-style: solid;
    border-color:#020E3A;
    border-radius: 8px;
    font: "fifa-font";
    justify-self: center;
    display: block;
    width: 60%;
    height: 2.4rem;
    font-size: 1.2rem;
}



.login_button
{
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 10%;
    border-radius: 4px;
    background-color: #020E3A ;
    color: white;
}

.link_registratie
{
    
    border-radius: 6px;
    border-style: none;
    text-align: center;
    color: white;
    
}

@media screen and (max-width: 400px){
    .link_registratie{
        font-size: 12px;
    }      
    .login_button{
        font-size: 13px;
    }    
}


/* footer style voor elke pagina */

footer {
    background-color: #343a40;
    border-top: 1px solid #E5C685;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
