@font-face{
    font-family: "fifa-font";
    src: url(/assets/fonts/Denne2006.ttf);
}


body {
    width: 100%;
    min-height: 100vh;
    color: #ffffff;
    font-family: fifa-font;
    font-size: 1.5rem;
    background-color: #020E3A;
    margin-bottom: 100px;
}

#bootstrap-overrides .nav-link {
    color: white;
}

header {
    margin-bottom: 100px;
}


/* De navigatie links spacing geven, een goede font size en ook juist plaatsen op de website */
.a-link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-size: 1.05rem;
}

#nav-links {
    justify-content: space-between;
    width: 25%;
    font-size: 1.05rem;
}


/* Login en registratie form*/

form
{
    position: absolute;
    display: grid;
    top: 100px;
    margin-left: 32%;
    margin-right: 35%;
    padding-top: 3.5%;
    border-radius: 8px;
    width: 550px;
    height: 500px;

    color: #020E3A;
	background: rgb(19, 61, 100);
	border: 1px solid #020E3A;
	
}

input
{
    border-style: solid;
    border-color:#020E3A;
    border-radius: 8px;
    font: "fifa-font";
    justify-self: center;
    display: block;
    width: 60%;
    height: 2.4rem;
    font-size: 1.2rem;
    
}


/* Select hoort bij dropdownmenu 'choose your travel'*/

select
{
    border-color:#020E3A;
    border: 2px  solid;
    border-radius: 8px;
    justify-self: center;
    display: block;
    width: 60%;
    height: 2.4rem;
    font-size: 1.2rem;
    color: black;
    margin-top: -50px;
}

select:required:invalid {
    color: #808080;
    border-color:#020E3A;
    border-style: solid;
  }

  option[value=""][disabled] {
    display: none;
  }

  option {
    color: black;
  }



/* .message Hoort bij output van script om passwords te checken*/

.message
{
    border-radius: 3px;
    font: "fifa-font";
    justify-self: center;
    display: block;
    width: 60%;
    height: 3rem; 
    font-size: 0.9rem; 

}


.register_button
{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 9%;
    border-radius: 6px;
    border-style: none;
    background-color: #020E3A ;
    color: white;
    position: relative;top:-46px;
}


@media screen and (max-width: 400px){
    .link_inloggen{
        font-size: 12px;
    }      
    .register_button{
        font-size: 13px;
    }    
}

/* footer style voor elke pagina */

footer {
    background-color: #343a40;
    border-top: 1px solid #E5C685;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}