/* changing background color for body and navigation */
main{
	width: 100%;
    margin: auto;
	min-height: calc(100% - var(--navheight) - 10%);
    background-color: rgba(255,255,255,0.1);
    }
html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    --navheight: 63px;
}
body{
    width: inherit;
    height: inherit;
	min-height: 100;
	background-color: #303F4F;
	overflow-y: scroll;
}
#wrapper {
    min-height: 100%;
    position: relative;
}

#bootstrap-overrides .nav-link {
    color: white;
}

/* De navaigatie links spacing geven, een goede font size en ook juist plaatsen op de website */

.a-link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-size: 1.05rem;
}

/* Costum changes in the header */

#nav-header {
    color: grey;
    border-bottom: 1px solid #E5C685;
}

#nav-links {
    justify-content: space-between;
    width: 35%;
    font-size: 1.3rem;
}

#nav-links .nav-link {
    /* font color of the links */
    color: rgba(255,255,255,.55)
}



.main-container1{
    width: 90%;
	min-height: 90%;
    margin: auto;
    background-color:  rgba(255,255,255,0.1);
	border-radius: 3px;
    padding-bottom: 30%;
    margin-bottom: 0;
    padding-top: 7%;
}

.main-container2{
    width: 90%;
	min-height: 80%;
    margin: auto;
    background-color:  rgba(255,255,255,0.1);
	border-radius: 3px;
    padding-bottom: 15%;
    margin-bottom: 0;
    padding-top: 7%;
}



/* Login en registratie form*/

#LogIn
{
    margin-left: 30%;
    display: grid;
    padding-top:3.5%;
    border-radius: 8px;
    width: 40%;
    height: 300px;
    color: #020E3A;
	background: rgb(19, 61, 100);
	border: 1px solid #020E3A;
}

#Registratie 
{   
    position:absolute;
    top: 80px;
    display: grid;
    margin-left: 33.5%;
    margin-right: 35%;
    padding-top: 3.5%;
    border-radius: 8px;
    width: 40%;
    height: 70%;
    color: #020E3A;
	background: rgb(19, 61, 100);
	border: 1px solid #020E3A;
    
}


.Loginbox
{
        border-style: solid;
        border-color:#020E3A;
        border-radius: 8px;
        font: "fifa-font";
        justify-self: center;
        display: block;
        width: 60%;
        height: 2.4rem;
        font-size: 1.0rem;
        margin-bottom:-5px;
    
}
input
{
    border-style: solid;
    border-color:#020E3A;
    border-radius: 8px;
    font: "fifa-font";
    justify-self: center;
    display: block;
    width: 60%;
    height: 2.4rem;
    font-size: 1.0rem;
}

.login_button
{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    height:40px;
    border-radius: 6px;
    border-style: none;
    background-color: #020E3A ;
    color: white;
    position: relative;
    font-size: 1.1rem;
}

.register_button
{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 9%;
    border-radius: 6px;
    border-style: none;
    background-color: #020E3A ;
    color: white;
    position: relative;top:-46px;
    height:40px;
    font-size: 1.1rem;
}

input[type=checkbox] {
    transform: scale(0.35);
    float:left;
    margin-right: -150px;
    vertical-align: middle;
    position: relative;
    bottom: 9px;

}

.checkbox {
    font-size: 0.89em;
    margin-left: -10px;
    color: black;
}
.link_registratie
{
    
    border-radius: 6px;
    border-style: none;
    text-align: center;
    color: white;
    font-size: 1rem;
    
}

.link_login
{
    border-radius: 6px;
    border-style: none;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: -35px;
}

@media screen and (max-width: 500px){
    .link_registratie{
        font-size: 15px;
    }      
    .login_button{
        font-size: 20px;
    }
    form{
        margin-left: 0%;
        width: 100%;
    }    
}

/* Select hoort bij dropdownmenu 'choose your travel'*/

select
{
    border-color:#020E3A;
    border: 2px  solid;
    border-radius: 8px;
    justify-self: center;
    display: block;
    width: 60%;
    height: 2.4rem;
    font-size: 1.0rem;
    color: black;
    margin-top: -50px;
}

select:required:invalid {
    color: #808080;
    border-color:#020E3A;
    border-style: solid;
  }

  option[value=""][disabled] {
    display: none;
  }

  option {
    color: black;
  }


/* .message Hoort bij output van script om passwords te checken*/
.message
{
    border-radius: 3px;
    font: "fifa-font";
    justify-self: center;
    display: block;
    width: 60%;
    height: 3rem; 
    font-size: 0.75rem; 

}

footer {
    background-color: #343a40;
    border-top: 1px solid #ff00ff;
    width: 100%;
    height: 10%;
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-height: 700px) {
    footer {
        position: absolute;
    }
}