html{
    width: 100%;
    height: 100%;
}
body{
    width: inherit;
    height: inherit;
	min-height: 100vh;
	background-color: #303F4F;
	overflow-y: scroll;
	
	--answer-btn-width: 15.6rem;
	--answer-btn-heigth: 3.1rem;
}

/* 
===================================== 
	header-main-footer settings 
===================================== 
*/
header{
	width: 100%;
	height: 56px;
}
main{
	width: 100%;
	height: calc(100% - 56px - 10%);
}
footer{
    background-color: #343a40;
    border-top: 1px solid #ff00ff;
    width: 100%;
    height: 10%;
    text-align: center;
    line-height:  1rem;
    font-size: .7rem;
    padding: 10px 0;
    color: white;
}

/* 
===================================== 
    Costum Image effect / design
===================================== 
*/
.main-container{
    width: 90%;
	min-height: 80%;
    margin: auto;
	position: relative;
    background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
}

#hideSection{
    display: none;
}

#sectionNewGame{
	width: 30%;
	margin: auto;
	text-align: center;
}



/* 
===================================== 
    Costum Image effect / design
===================================== 
*/

#topFifaImage{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -2;
}
#buttomFifaImage{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	transform: rotate(180deg);
}

/* 
===================================== 
		fifa logo settings 
===================================== 
*/
#fifa-logo{
	width: 10%;
	height: auto;
	margin: 5% calc(100% - 7% - 50%);
}

/* 
=============================== 
    Button effect / design
=============================== 
*/
.sectionGame{
	width: 50%;
	margin: auto;
	z-index: 0;
}
.btn-three{
    line-height: 35px;
	height: 50px;
	text-align: center;
	width: 50%;
	cursor: pointer;
}
.box-3{
    margin: auto;
    text-align: center;
}
.btn-three {
	color: #000;
	transition: all 0.5s;
	position: relative;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top: 1px solid rgba(255, 0, 255, 0.5);
	border-bottom: 1px solid rgba(255, 0, 255, 0.5);
	transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}
.btn:hover{
	color: white;
}

/* 
===================================== 
    	Background music design
===================================== 
*/
#audio_buttons{
	padding: 10px;
    color: lightblue;
	position: absolute;
	top:0px;
	right: 0px;
}

/* 
===================================== 
    	Club section design
===================================== 
*/
.clubSection {
	width: 100%;
	margin: auto;
	text-align: center;
}
.club-image-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	vertical-align: middle;
	border: 1px solid red;
}
.image-wrapper{
	width: 100%;
	height: auto;
	border: 1px solid blue;
}
.image-wrapper img {
	width: auto;
	max-width: 15%;
	height: auto;
	max-height: 50%;
	margin: 5% 5px 5px 5px;
	border: 1px solid greenyellow;
}
.club-image-container p{
	font-family: EA-font;
	letter-spacing: .2rem;
	word-spacing: .6rem;
	font-size: 1.5rem;
}
.answers-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid yellow;
}

/* button design  */
.btn-wrapper{
	width: var(--answer-btn-width);
    height: var(--answer-btn-heigth);
	margin: 5px;
    border: 2px solid #ff00ff;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: 1s;
}
.btn-wrapper span{
	z-index: 4;
}
.btn-wrapper::before, .btn-wrapper::after {
	position: absolute;
	background: transparent;
	border: 2px solid  #6f7984;
	z-index: 2;
	transition: 1s;
	content: '';
}
.btn-wrapper::before {
	height: var(--answer-btn-heigth);
	width: 230px;
}
.btn-wrapper::after {
	width: var(--answer-btn-width);
	height: 30px;
}


@media screen and (max-width: 1130px){
	.answers-container{
		flex-direction: column;
		align-items: center;
	}
}
