html{
    width: 100%;
    height: 100%;
}
body{
    width: inherit;
    height: inherit;
	min-height: 100vh;
	background-color: #303F4F;
	overflow-y: scroll;
	
	--answer-btn-width: 16rem;
	--answer-btn-heigth: 3.1rem;
	--background-color : #6f7984;
}

/* 
===================================== 
	header-main-footer settings 
===================================== 
*/
header{
	width: 100%;
	height: 56px;
}
main{
	width: 100%;
	height: calc(100% - 56px - 10%);
}
footer{
    background-color: #343a40;
    border-top: 1px solid #ff00ff;
    width: 100%;
    height: 10%;
    text-align: center;
    line-height:  1rem;
    font-size: .7rem;
    padding: 10px 0;
    color: white;
	position: relative;
}

/* 
===================================== 
    Costum Image effect / design
===================================== 
*/
.main-container{
    width: 90%;
	min-height: 80%;
    margin: auto;
	position: relative;
    background-color: var(--background-color);
	border-radius: 3px;
}

#hideSection{
    display: none;
}

/* 
===================================== 
    Costum Image effect / design
===================================== 
*/
#topFifaImage{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
#buttomFifaImage{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	transform: rotate(180deg);
}

/* 
===================================== 
		fifa logo settings 
===================================== 
*/
#fifa-logo{
	width: 10%;
	height: auto;
	margin: 5% calc(100% - 7% - 50%);
}

/* 
=============================== 
    Button effect / design
=============================== 
*/
.sectionGame{
	width: 50%;
	margin: auto;
	z-index: 0;
}
.btn-three{
    line-height: 35px;
	height: 50px;
	text-align: center;
	width: 50%;
	cursor: pointer;
}
.box-3{
    margin: auto;
    text-align: center;
}
.btn-three {
	color: #000;
	transition: all 0.5s;
	position: relative;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top: 1px solid rgba(255, 0, 255, 0.5);
	border-bottom: 1px solid rgba(255, 0, 255, 0.5);
	transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}
.btn:hover{
	color: white;
}

/* 
===================================== 
    	Background music design
===================================== 
*/
#audio_buttons{
	padding: 10px;
    color: lightblue;
	position: absolute;
	top:0px;
	right: 0px;
}

/* 
===================================== 
    	Club section design
===================================== 
*/
.clubSection {
	width: 100%;
	margin: auto;
	text-align: center;
}
.club-image-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	vertical-align: middle;
	/* border: 1px solid red; */
}
.image-wrapper{
	width: 100%;
	height: auto;
}
.image-wrapper img {
	width: auto;
	max-width: 15%;
	height: auto;
	max-height: 50%;
	margin: 5% 5px 5px 5px;
}
#clubName{
	margin: auto;
	font-size: 2.5rem;
	font-family: EA-font;
	margin: 5% 5px 5px 5px;
}
.quesitonMark{
	font-size: inherit;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.club-image-container p{
	font-family: EA-font;
	letter-spacing: .2rem;
	word-spacing: .6rem;
	font-size: 1.3rem;
}
.answers-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* button design  */
.answer-btn1, .answer-btn2{
	width: var(--answer-btn-width);
   	height: var(--answer-btn-heigth);
	min-height: fit-content;
	font-family: 'Cinzel', serif;
	font-size: 20px;
   	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
   	backface-visibility: hidden;
	border-radius: 3px;
	border: 2px solid #ff00ff;
	background-color: transparent;
	margin: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
	transition : .8s cubic-bezier(.775, .07, .575, .995);
}
.answer-btn1{
	z-index: 2;
	position: absolute;
}
.answer-btn2{
	color: rgba(0, 0, 0);
	transform: rotateX(-180deg);
	position: relative;
}
hr{
	width: var(--answer-btn-width);
	border: 0;
    height: 1px;
	margin: 1% auto;
    background-image: linear-gradient(to right, var(--background-color), rgba(255, 0, 255, 0.75), var(--background-color));
}

/* 
==============================================
  Additional buttons (View score, stop game)
==============================================
*/
.additional-buttons{
	width: 100%;
	height: fit-content;
	position: relative;
}
.button-container, .stop-container{
    display:flex;
    justify-content: center;
}
.box, .stop{
	margin: 5px;
	width: var(--answer-btn-width);
   	height: var(--answer-btn-heigth);
	font-family: 'Cinzel', serif;
	font-size: 20px;
   	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
   	backface-visibility: hidden;
	border-radius: 3px;
	border: 2px solid #ff00ff;
	background-color: transparent;
	transition : .8s cubic-bezier(.775, .07, .575, .995);
}
.side-one{
   z-index: 2;
   position: absolute;
}
.side-two{
   color: rgba(0, 0, 0);
   transform: rotateX(-180deg);
   position: relative;
}
