.main-container{
    width: 90%;
	min-height: 90%;
    margin: auto;
    background-color:  rgba(255,255,255,0.1);
	border-radius: 3px;
    margin-bottom: 0;
    padding-bottom: 5%;
    padding-top: 1%;
}

.main-container2{
    width: 90%;
	min-height: 90%;
    margin: auto;
    background-color:  rgba(255,255,255,0.1);
	border-radius: 3px;
    margin-bottom: 0;
    padding-bottom: 18%;
    padding-top: 1%;
    margin-top: -17%;
}

.main-container3{
    width: 90%;
	min-height: 90%;
    margin: auto;
    background-color:  rgba(255,255,255,0.1);
	border-radius: 3px;
    margin-bottom: 0;
    padding-bottom: 25%;
    padding-top: 1%;
    margin-top: -17%;
}

.main-container4{
    width: 90%;
	min-height: 90%;
    margin: auto;
    background-color:  rgba(255,255,255,0.1);
	border-radius: 3px;
    margin-bottom: 0;
    padding-bottom: 20%;
    padding-top: 1%;
    margin-top: -17%;
}

main{
	width: 100%;
    margin: auto;
	min-height: calc(100% - var(--navheight) - 10%);
    background-color: rgba(255,255,255,0.1);
}
html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    --navheight: 63px;
}
body{
    width: inherit;
    height: inherit;
	min-height: 100vh;
	background-color: #303F4F;
	overflow-y: scroll;
}
#wrapper {
    min-height: 100%;
    position: relative;
}


/* changing background color for body and navigation */
h2{
    font-size: 2.4rem;
    font-family: fifa-font;
    text-align: left;
    color: #020E3A;
    opacity: .7;
    z-index: 1;
    animation: slideout 5s ease-out 2s forwards;
}

p{
    color: whitesmoke;
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

#about-section {
    padding-left: 10%;
    padding-right: 10%;
    
}


footer {
    background-color: #343a40;
    border-top: 1px solid #ff00ff;
    width: 100%;
    height: 10%;
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
}

/* custom scroll bar */
/* width */
 ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* section in about page */
#about-section {
    margin-bottom: 50px;
}

/* thema pages */
.thema-position{
    display: flex;
    flex-direction: column;
    margin-top: 22.5%;
}

.thema-titel{
    text-align: center;
}

.thema-foto{
    align-self: center;
    max-width: 250px;
    max-height: 250px;
}

@media only screen and (max-height: 700px) {
    footer {
        position: absolute;
    }
}
