<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>About</title>
</head>

<body id="bootstrap-overrides">
    <div id="wrapper">
        <header class="header-about">
            <!-- Navigatie bar met responsive design -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-header">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-links">
                            <li class="nav-item">
                                <a class="nav-link" href="../index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <a class="a-link" href="login">Inloggen</a>
                        </div>
                    </div>
            </nav>
        </header>

        <main class="main-container">
            <section id="about-section">
                <h2><br>Over de website</h2>
                <p> Welkom op de website van ons project 'Fifa-Planet'. Deze site is gemaakt in kader van het vak IT project. Dit is een responsive site met zowel voltooide Front-end als Back-end. Nadat u zich geregistreerd hebt op de registratiepagina met als reiskeuze 'fifa-planet' kan u ons spel spelen zodra u bent ingelogd.
                </p>
            </section>
            <section id="about-section">
                <h2>Het Fifa-spel</h2>
                <p> De door ons ontwikkelde game 'Fifa' is een leuk spel waarbij uw kennis van voetbal wordt getest. U zult in het spel vragen krijgen over voetbalclubs uit verschillende nationale competities. Op het einde van het spel krijgt u een score toegewezen. Hierna kan u het spel zoveel herhalen als u wilt om uw score trachten te verbeteren. Veel plezier & good luck!</p>
            </section>
            <section id="about-section">
                <h2>De ontwikkelaars</h2>
                <p> De developers van het project 'Fifa-Planet' en bijhorende website + game zijn Krystian Rola, Khayodele Wellens, Othmane El Aissati en Kevin Ver Elst. Wij zijn allen eerstejaarsstudenten Graduaat Programmeren aan de Artesis Plantijn Hogeschool te Antwerpen. Zowel de website als alle content op de website is door ons geschreven & ontwikkeld.
                </p>
            </section>
        </main>
        <footer>
            <div class="container">
                <p>Copyright &copy; 2021 | IT Project | FIFA-Planet</p>
                <p>Krystian Rola | Othmane El Aissati | Khayodele Wellens | Kevin Ver Elst </p>
            </div>
        </footer>
        </div>
    </div>

</body>

</html>