<!DOCTYPE html>
<html lang="nl-BE">

<head> 
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
        crossorigin="anonymous">

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
        crossorigin="anonymous"></script>

    <!-- Costum style CSS -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/styleFifaSpelen.css">

    <!-- Costum script -->
    <script defer src="/music.js" ></script>
    <script defer src="/fifa_buttons.js" ></script>
    <script src="https://kit.fontawesome.com/a9c44a0e6d.js" crossorigin="anonymous"></script>
    
    <!-- Page title -->
    <title>FIFA-PLANET | Spelen</title>
</head>

<body>
    <header>
        <!-- Navigatie bar met responsive design -->
        <!-- nav-header for border bottom line -->
        <%- include('navigatieTrue'); %>
    </header>
    <main class="main-container">
         <!--muziek buttons en playlist-->
         <section id="audio_buttons">
            <i onclick="setVolumeOff()" type="button" class="fas fa-volume-mute"></i>
            <i onclick="setVolumeOn()" type="button" class="fas fa-music"></i>
        
            <audio autoplay loop id="mySong">
                <source src="/playlist/mix_36m27s (audio-joiner.com).mp3" type="audio/mp3">
            </audio>

            <audio id="Sfx_effect">
                <source defer src="./sound_effects/effect4.mp3" type="audio/mp3">
            </audio>
         </section>
         
        <img src="/images/colorDetail.png" alt="fifa 2020 color detail" class="colorDetail" id="topFifaImage">
        <section class="sectionGame" id="hideSection">
            <!-- <img src="/assets/images/fifa_logo.png" alt="fifa logo" class="colorDetail" id="fifa-logo" > -->        
            <br>
            <!-- new game button -->
            <article class="box-3">
                <div class="btn btn-three" id="div-element">
                    <span id="span-text">New Game</span>
                </div>
            </article>
            <br>
            <!-- continue button -->
            <article class="box-3">
                <div class="btn btn-three" id="div-element">
                    <span id="span-text">Continue</span>
                </div>
            </article>
            <br>
            <!-- Rules button -->
            <article class="box-3">
                <div class="btn btn-three" id="div-element">
                    <span id="span-text">Rules</span>
                </div>
            </article>
            <br>
            <!-- Scoreboard button -->
            <article class="box-3">
                <div class="btn btn-three" id="div-element">
                    <span id="span-text">Scoreboard</span>
                </div>
            </article>
            <br>
        </section>

        <!-- ============================ -->
        <%- include('fifaGameplay'); %>
        <!-- ============================ -->

        <img src="/images/colorDetail.png" alt="fifa 2020 color detail"  id="buttomFifaImage">
    </main>
    <footer>
        <div class="container"> 
            <p>Copyright &copy; 2021 | IT Project | FIFA-Planet</p>
            <p>Krystian Rola | Othmane El Aissati | Khayodele Wellens | Kevin Ver Elst </p>
        </div>
    </footer>

    <!-- script adds axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>