<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
        crossorigin="anonymous">

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
        crossorigin="anonymous"></script>

    <!-- Costum style CSS -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel="stylesheet" href="/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    
    <!-- Page title -->
    <title>FIFA-PLANET | HOME </title>
</head>

<body>
    <header >
        <!-- Navigatie bar met responsive design -->
        <!-- nav-header for border bottom line -->
        <%- include(navigatie); %>
    </header>
    <main>
        <section class="info-games">
            <h2>Thema<span id="apos-span">&apos;</span>s</h2>
            <br>
            <!-- fifa section -->
            <article class="infoSection-each-game">
                <div class="logo-div">
                    <img src="/images/fifa_logo.png" alt="fifa-logo">
                </div>
                <div class="game-description">
                    <p>
                        FIFA is een internationale organisatie voor de sport voetbal. Op de fifa game pagina zal u kunnen raden
                        in welke league een club zit en omgekeerd. Afhankelijk of het antwoord juist of fout is krijgt u ook
                        nog eens een bepaalde score.
                    </p>
                </div>
            </article>
            <br>
            <!-- lord of the rings section -->
            <article class="infoSection-each-game">
                <div class="logo-div">
                    <img src="/images/lord-of-the-rings-logo.png" alt="lord-of-the-rings-logo">
                </div>
                <div class="game-description second-element" >
                    <p>
                        The Lord of the Rings, is een fantasy-werk geschreven door de taalkundige en universitair professor J.R.R. Tolkien.
                        Op de game pagina van lord of the rings krijgt u een quote die voorkomt in één van de films. U moet hierbij raden
                        van welk personage deze quote komt en in welke film het werd gezegd.
                    </p>
                </div>
            </article>
            <br>
            <!-- lego section -->
            <article class="infoSection-each-game">
                <div class="logo-div">
                    <img src="/images/legomastersLogo.jpg" alt="legomaster-logo">
                </div>
                <div class="game-description">
                    <p>
                        De LEGO Group is een familiebedrijf in Billund, Denemarken en het meest bekend van hun speelgoedmerk LEGO.
                        Op de lego pagina moet je een minifig kiezen waar je daarna een lijst krijgt met alle sets dat deze minifig bevatten.
                        Je kiest en besestigd daarna de set die je wilt bestellen en ten slotte toont het systeem hoeveel minifigs er worden besteld.
                    </p>
                </div>
            </article>
            <br>
            <!-- fortnite section -->
            <article class="infoSection-each-game">
                <div class="logo-div">
                    <img src="/images/fortnite-Logo.png" alt="fortnite-logo">
                </div>
                <div class="game-description second-element">
                    <p>
                        Fortnite is een online computerspel ontwikkeld door Epic Games dat is uitgebracht in 2017.
                        Op de fortnite pagina zul je 2 personages moeten kiezen uit een lijst van populaire personages.
                        Die worden dat op een banner getoont en vervolgens word er voor je motivatie gevraagd waarom je voor de 2 koos.
                        Ten slotte worden de 2 personages terug getoont met jouw motivatie erbij.
                    </p>
                </div>
            </article>
        </section>
        <br>
    </main>
    <footer>
        <div class="container"> 
            <p>Copyright &copy; 2021 | IT Project | FIFA-Planet</p>
            <p>Krystian Rola | Othmane El Aissati | Khayodele Wellens | Kevin Ver Elst </p>
        </div>
    </footer>
</body>
</html>