<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-header">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-links">
            <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link" href="#">Thema's</a>
                    <div class="dropdown-content">
                        <a href="lego">lego</a>
                        <a href="lotr">lord of the rings</a>
                        <a href="fifa">fifa</a>
                        <a href="fortnite">fortnite</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="d-flex">
            <div class="dropdown">
                <a class="a-link" href="#" id="username" ></a>
                <p class="a-link">▼</p>
                <div class="dropdown-content">
                   <a href="index" onclick="">Uitloggen</a>
                </div>
            </div>
        </div>
    </div>
</nav>